workflow_class_supabase_v2.json
{
    "name": "INEA Class + Supabase V2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "clase-supabase",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-main",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "clase-supabase"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.sambanova.ai/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SAMBANOVA_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"Meta-Llama-3.3-70B-Instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un experto educador del programa INEA México. Crea lecciones claras y prácticas para adultos. Usa ejemplos de la vida cotidiana mexicana. Formato Markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Crea una clase sobre: {{ $json.body.topic }}\\n\\nIncluye: 1.Título 2.Objetivos(3pts) 3.Contenido paso a paso 4.Ejemplos prácticos 5.Quiz de 3 preguntas\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 3000\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "sambanova-gen",
            "name": "Generate Class",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"tema\": \"{{ $('Webhook').item.json.body.topic }}\",\n  \"contenido\": {{ JSON.stringify($json.choices[0].message.content) }},\n  \"modelo\": \"Meta-Llama-3.3-70B-Instruct\",\n  \"tokens_usados\": {{ $json.usage ? $json.usage.total_tokens : 0 }}\n}",
                "options": {}
            },
            "id": "format-class",
            "name": "Format Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://64.177.81.23:8000/rest/v1/clases_generadas",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json }}",
                "options": {}
            },
            "id": "supabase-insert",
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                950,
                300
            ]
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"success\": true,\n  \"message\": \"Clase generada y guardada\",\n  \"tema\": \"{{ $('Format Data').item.json.tema }}\",\n  \"tokens\": {{ $('Format Data').item.json.tokens_usados }},\n  \"id\": {{ $json[0] ? $json[0].id : 0 }}\n}",
                "options": {}
            },
            "id": "format-response",
            "name": "Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1200,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-final",
            "name": "Send Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1450,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Generate Class",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Class": {
            "main": [
                [
                    {
                        "node": "Format Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Data": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Response": {
            "main": [
                [
                    {
                        "node": "Send Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}