workflow_gemini_class.json
{
    "name": "Gemini AI - Class Generator",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-class",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{ $env.GOOGLE_API_KEY }}",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [ { parts: [ { text: \"Genera una estructura de clase detallada sobre el tema: \" + $json.body.topic } ] } ] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Gemini Pro API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "content",
                            "value": "={{ $json.candidates[0].content.parts[0].text }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Format Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gemini Pro API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Pro API": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}